@layer components{
    .BreadCrumbs a{
        @apply text-xs text-[rgb(118,118,118)]  mx-1
    }
}


.BreadCrumbs{
    -webkit-overflow-scrolling: touch;
    scrollbar-width: none;   /* Firefox */
}

.BreadCrumbs::-webkit-scrollbar {
  display: none;           /* Chrome, Edge, Safari */
}