.header_search{       
    padding: 16px 15px;
    width: 100%;
    background-color: #f0f0f0;
}
.header_search:focus{
    outline: none;
}
.header_search::placeholder{
    color: #8a8a8a;
    font-size: 15px;
}
.btn_search{
    display: block;
    background-color: #f0f0f0;
    height: 100%;      
}