@layer components{
    .Category-Slide{
        @apply w-full mt-4 mb-12 relative
    }
    .Category-Slide-Item{
        @apply w-full px-10 text-center
    }
    .Category-Slide-Item>div{
        @apply block mx-auto w-32 shadow-[inset_0_0_0_2px_#179fdb]  p-1.5 rounded-full
    }
    .Category-Slide-Item>div>div{
        @apply block border border-[#bcbcbc] p-[0.5px] rounded-full
    }
    .Category-Slide-Item span{
        @apply block mt-3 font-semibold text-[rgb(35,68,146)]
    }
    .Category-Slide-prev-btn,.Category-Slide-next-btn{
        @apply hidden absolute bg-white z-10 top-15 shadow-[0_0_5px_0px_#caccce] rounded-full p-2 
    }
}