@layer components{
    .TechnoOffCard{
        @apply w-full h-full flex flex-col justify-between relative mx-auto overflow-hidden cursor-pointer bg-white rounded-lg
    }
    .TechnoOffCard-head{
        @apply flex flex-wrap justify-between px-6 mb-1 font-bold text-[rgb(218,30,40)]
    }
    .TechnoOffCard-head>div{
        @apply bg-[rgb(218,30,40)] rounded-2xl w-full h-1
    }
    .TechnoTimeTitle{
        font-size: 14px;
        margin: 8px 0;  
        display: -webkit-box;
        -webkit-line-clamp: 2; 
        -webkit-box-orient: vertical;
        overflow: hidden;      

    }
    .TechnoOffPercent{
        @apply rounded-xs px-1 h-5 w-max flex items-center text-[15px] bg-[rgb(218,30,40)] text-white
    } 
    .card-divider{
        @apply relative
    }
    .card-divider::after{
        content: "";
        position: absolute;
        left: 0;
        top: 15%;
        height: 82%;
        width: 0.5px;
        background-color: rgb(216, 216, 216);        
    }   
}