@config "../tailwind.config.js";
@import "tailwindcss";
@import "./Components/layout/Header/Header.css";
@import "./Components/layout/Header/CategoryItem.css";
@import "./Components/layout/Footer/FooterList.css";
@import "./Components/layout/Footer/MobileNavbar.css";
@import "./Components/Pages/Home/ProductSlides/TechnoTimeCard.css";
@import "./Components/Pages/Home/ProductSlides/TechnoTime.css";
@import "./Components/layout/Baner/Baner.css";
@import "./Components/Pages/Home/CategorySlide.css"; 
@import "./Components/Pages/Home/ProductSlides/TechnoOff.css";
@import "./Components/Pages/Home/ProductSlides/ProductSlider.css";
@import "./Components/Pages/Home/ProductSlides/TechnoOffCard.css";
@import "./Components/Pages/Home/KitchenAppliances.css";
@import "./Components/Pages/Home/BrandSlide.css";
@import "./Components/Pages/Product/BreadCrumbs.css";
@import "./Components/Pages/Product/common/NavbarIconProduct.css";

*{
  scroll-behavior: smooth;
}



@font-face {
    font-family: 'Yekan Bakh';
    src: url('./assets/fonts/yekanBakh/Regular/YekanBakh-Regular.eot');
    src: url('./assets/fonts/yekanBakh/Regular/YekanBakh-Regular.eot') format('embedded-opentype'),
        url('./assets/fonts/yekanBakh/Regular/YekanBakh-Regular.woff2') format('woff2'),
        url('./assets/fonts/yekanBakh/Regular/YekanBakh-Regular.woff') format('woff'),
        url('./assets/fonts/yekanBakh/Regular/YekanBakh-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Yekan Bakh b';
    src: url('./assets/fonts/yekanBakh/Bold/YekanBakh-Bold.eot');
    src: url('./assets/fonts/yekanBakh/Bold/YekanBakh-Bold.eot') format('embedded-opentype'),
        url('./assets/fonts/yekanBakh/Bold/YekanBakh-Bold.woff2') format('woff2'),
        url('./assets/fonts/yekanBakh/Bold/YekanBakh-Bold.woff') format('woff'),
        url('./assets/fonts/yekanBakh/Bold/YekanBakh-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
@layer utilities{
  .ltr{
    direction: ltr;
  }
  .rtl{
    direction: rtl;
  }
}
::-webkit-scrollbar {
  width: 8px;  
  
}

::-webkit-scrollbar-track {
  background: #f1f1f1;    
}

::-webkit-scrollbar-thumb {
  background: #331bd3;   
}

.flex-center{
  @apply flex justify-center items-center
}
.flex-between{
  @apply flex justify-between items-center
}

.CategoryMenu-ul::-webkit-scrollbar-thumb:hover {
  background: #555555;
}
.container-1{
    @apply max-w-[1600px] mx-auto ;
}
.row {
    @apply flex w-full flex-wrap ;
}
.yekan-bold{
   font-family: 'Yekan Bakh b' !important;
}
.yekan-regular{
   font-family: 'Yekan Bakh';
}
button{
    cursor: pointer;
}




