@layer components{
    .TechnoTimeCard{
        @apply w-full h-full flex flex-col justify-between relative mx-auto overflow-hidden cursor-pointer bg-white rounded-lg
    }
    .TechnoTimeLabel{
        @apply bg-[#38393a] absolute right-2 top-2 rounded-lg text-white text-[13px] px-3.5 block w-max h-[18px] 
    }
    .TechnoTimepriceBody{
        @apply flex justify-between py-2
    }
    .TechnoTimeTitle{
        font-size: 14px;
        margin: 8px 0;  
        display: -webkit-box;
        -webkit-line-clamp: 2; 
        -webkit-box-orient: vertical;
        overflow: hidden;      

    }
    .TechnoTimePercent{
        @apply rounded-xs px-1 h-5 w-max flex items-center text-[15px] bg-[#991b21] text-white
    }
    .footerCard{
        @apply border-t border-[#ababab] flex justify-between items-center py-2.5
    }
}